.DS_Store
__pycache__/
*.py[cod]
soc_sdc_work/Soc SDC脚本/regression/work/
soc_sdc_work/Soc SDC脚本/01_soc_clocks/regression_test/work_complex/
soc_sdc_work/Soc SDC脚本/02_soc_clock_timing/regression_test/work_complex/
soc_sdc_work/Soc SDC脚本/03_soc_clock_groups/regression_test/work_complex/
soc_sdc_work/Soc SDC脚本/04_soc_io_pads/regression_test/work_complex/
soc_sdc_work/Soc SDC脚本/10_feedthrough/regression_test/work_complex/
soc_sdc_work/Soc SDC脚本/20_harden_x_if/regression_test/work_complex/
soc_sdc_work/Soc SDC脚本/30_harden_to_harden_exception/regression_test/work_complex/
